@inherits LayoutComponentBase

<PageTitle>XIVCat</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <span>XIVCat</span>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
