@page "/item/{itemId}"

@using Lumina
@using Lumina.Excel.GeneratedSheets
@inject GameData GameDataService

<img src="@Util.GetIconUrl(item?.RowId ?? 0)" width="120" height="120" alt=""/>

<h1>@item?.Name</h1>
<span>@item?.Description</span>

@code {
    private Item? item;

    [Parameter]
    public string? ItemId { get; set; }

    protected override void OnInitialized()
    {
        item = GameDataService.GetExcelSheet<Item>()!.GetRow(Convert.ToUInt32(ItemId));
    }
}
