@page "/item/{itemId}"

@using Lumina
@using Lumina.Excel.GeneratedSheets
@inject GameData GameDataService

<img src="@Util.GetIconUrl(item?.RowId ?? 0)" width="120" height="120" alt=""/>

<h1>@item?.Name</h1>
<span>@item?.Description</span>

<h2>Sources</h2>

<h3>Crafting</h3>
<RecipeTable Recipes="@recipesFrom"></RecipeTable>

<h2>Used In</h2>
<RecipeTable Recipes="@recipesIn"></RecipeTable>

@code {
    private Item? item;

    private IList<Recipe>? recipesIn;

    private IList<Recipe>? recipesFrom;

    [Parameter]
    public string? ItemId { get; set; }

    protected override void OnInitialized()
    {
        item = GameDataService.GetExcelSheet<Item>()?.GetRow(Convert.ToUInt32(ItemId));
        recipesIn = GameDataService.GetExcelSheet<Recipe>()?
            .Where(r => r.UnkData5.Any(i => i.ItemIngredient == item?.RowId))
            .OrderBy(r => r.ItemResult.Value?.LevelItem.Row)
            .ToList();
        recipesFrom = GameDataService.GetExcelSheet<Recipe>()?
            .Where(r => r.ItemResult.Row == item?.RowId)
            .OrderBy(r => r.ItemResult.Value?.LevelItem.Row)
            .ToList();
    }
}
